In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import json

In [2]:
business_id= []
mydata=[]
path = '/Users/bjxl/fyp/yelp_dataset/yelp_academic_dataset_business.json'

with open(path, encoding='utf-8') as fin:
    i = 0
    for line in fin:
        line_contents = json.loads(line)
        categories = line_contents['categories']
        try:
            if 'Restaurants' in categories:
                business_id.append(business_id)
                mydata.append(line_contents)
        except TypeError:
            #print(line_contents)
            pass
mydata=pd.DataFrame(mydata)
mydata.to_csv('/Users/bjxl/fyp/csv/restaurant_review.csv')

In [4]:
data=pd.read_csv("/Users/bjxl/fyp/csv/restaurant_review.csv")
data["longitude"]

0        -75.155564
1        -87.058943
2        -90.321087
3        -86.768170
4        -82.456320
            ...
52263    -75.310344
52264   -116.284689
52265    -75.158665
52266    -75.427725
52267   -113.675999
Name: longitude, Length: 52268, dtype: float64

In [6]:
review=[]
review1=[]
path = '/Users/bjxl/yelp_dataset/yelp_academic_dataset_review.json'

with open(path, encoding='utf-8') as fin:
    for line in fin:
        line_contents = json.loads(line)
        restaurant_id = line_contents['business_id']
        for i in data["business_id"]:
            if i==restaurant_id:
                review.append(line_contents)

In [7]:
review=pd.DataFrame(review)
review.to_csv('/Users/bjxl/fyp/csv/review.csv')

In [8]:
df = pd.DataFrame(np.array(review["text"]), columns=['review'])
df

                                                    review
0        If you decide to eat here, just be aware it is...
1        Family diner. Had the buffet. Eclectic assortm...
2        Wow!  Yummy, different,  delicious.   Our favo...
3        Cute interior and owner (?) gave us tour of up...
4        I am a long term frequent customer of this est...
...                                                    ...
4724466  Don't misinterpret my 5-star review....I don't...
4724467  It is very rare for a restaurant to be this go...
4724468  Good, maybe very good.  I went for lunch, so t...
4724469  For when I'm feeling like ignoring my calorie-...
4724470  Located in the 'Walking District' in Nashville...

[4724471 rows x 1 columns]

In [9]:
# Calculate word count
df['word_count'] = df['review'].apply(lambda x: len(str(x).split(" ")))

# Calculate character count
df['char_count'] = df['review'].str.len()

def avg_word(review):
    words = review.split()
    return (sum(len(word) for word in words) / len(words))

# Calculate average words
df['avg_word'] = df['review'].apply(lambda x: avg_word(x))

# Import stopwords
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

stop_words = stopwords.words('english')
df['stopword_coun'] = df['review'].apply(lambda x: len([x for x in x.split() if x in stop_words]))

[nltk_data] Downloading package stopwords to /Users/bjxl/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [10]:
df

,review,word_count,char_count,avg_word,stopword_coun
0,"If you decide to eat here, just be aware it is...",101,513,4.069307,46
1,Family diner. Had the buffet. Eclectic assortm...,55,339,5.181818,13
2,"Wow! Yummy, different, delicious. Our favo...",48,243,4.900000,12
3,Cute interior and owner (?) gave us tour of up...,94,534,4.691489,27
4,I am a long term frequent customer of this est...,65,341,4.261538,21
...,...,...,...,...,...
4724466,Don't misinterpret my 5-star review....I don't...,167,890,4.248521,63
4724467,It is very rare for a restaurant to be this go...,64,336,4.333333,31
4724468,"Good, maybe very good. I went for lunch, so t...",518,2700,4.317365,203
4724469,For when I'm feeling like ignoring my calorie-...,378,2317,5.095238,121
4724470,Located in the 'Walking District' in Nashville...,212,1198,4.627358,87

In [11]:
df.describe()

         word_count    char_count      avg_word  stopword_coun
count  4.724471e+06  4.724471e+06  4.724471e+06   4.724471e+06
mean   1.012627e+02  5.448979e+02  4.493699e+00   4.035556e+01
std    9.387736e+01  5.034501e+02  8.097196e-01   3.960326e+01
min    1.000000e+00  1.000000e+00  1.000000e+00   0.000000e+00
25%    4.000000e+01  2.180000e+02  4.227586e+00   1.500000e+01
50%    7.200000e+01  3.880000e+02  4.434211e+00   2.800000e+01
75%    1.300000e+02  6.940000e+02  4.681818e+00   5.200000e+01
max    3.079000e+03  5.000000e+03  3.550000e+02   5.620000e+02

In [12]:
df.head()

,review,word_count,char_count,avg_word,stopword_coun
0,"If you decide to eat here, just be aware it is...",101,513,4.069307,46
1,Family diner. Had the buffet. Eclectic assortm...,55,339,5.181818,13
2,"Wow! Yummy, different, delicious. Our favo...",48,243,4.900000,12
3,Cute interior and owner (?) gave us tour of up...,94,534,4.691489,27
4,I am a long term frequent customer of this est...,65,341,4.261538,21

In [13]:
# Lower case all words
df['review_lower'] = df['review'].apply(lambda x: " ".join(x.lower() for x in x.split()))

# Remove Punctuation
df['review_nopunc'] = df['review_lower'].str.replace('[^\w\s]', '')

# Import stopwords
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

# Remove Stopwords
df['review_nopunc_nostop'] = df['review_nopunc'].apply(lambda x: " ".join(x for x in x.split() if x not in stop_words))

/var/folders/cv/j22vlhb52tb_nhwbf2m_cdq40000gn/T/ipykernel_27383/632770564.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['review_nopunc'] = df['review_lower'].str.replace('[^\w\s]', '')

In [14]:
# Return frequency of values
freq= pd.Series(" ".join(df['review_nopunc_nostop']).split()).value_counts()[:30]
freq

food          3415486
good          2717466
place         2379603
great         2193779
service       1672699
like          1491641
time          1372610
one           1364392
back          1336000
get           1274378
go            1174672
would         1173416
really        1137835
ordered       1080333
also          1022704
order          991066
restaurant     971238
us             968292
delicious      944125
chicken        941333
got            938541
best           893499
menu           833794
well           828710
nice           828066
came           769362
dont           767758
try            754208
even           738101
ive            736380
dtype: int64

In [15]:
other_stopwords = ['get', 'us', 'see', 'use', 'said', 'asked', 'day', 'go' \
  'even', 'ive', 'right', 'left', 'always', 'would', 'told', \
  'get', 'us', 'would', 'get', 'one', 'ive', 'go', 'even', \
  'also', 'ever', 'x', 'take', 'let' ]

In [16]:
df['review_nopunc_nostop_nocommon'] = df['review_nopunc_nostop'].apply(lambda x: "".join(" ".join(x for x in x.split() if x not in other_stopwords)))

In [17]:
df.head()

,review,word_count,char_count,avg_word,stopword_coun,review_lower,review_nopunc,review_nopunc_nostop,review_nopunc_nostop_nocommon
0,"If you decide to eat here, just be aware it is...",101,513,4.069307,46,"if you decide to eat here, just be aware it is...",if you decide to eat here just be aware it is ...,decide eat aware going take 2 hours beginning ...,decide eat aware going 2 hours beginning end t...
1,Family diner. Had the buffet. Eclectic assortm...,55,339,5.181818,13,family diner. had the buffet. eclectic assortm...,family diner had the buffet eclectic assortmen...,family diner buffet eclectic assortment large ...,family diner buffet eclectic assortment large ...
2,"Wow! Yummy, different, delicious. Our favo...",48,243,4.900000,12,"wow! yummy, different, delicious. our favorite...",wow yummy different delicious our favorite is ...,wow yummy different delicious favorite lamb cu...,wow yummy different delicious favorite lamb cu...
3,Cute interior and owner (?) gave us tour of up...,94,534,4.691489,27,cute interior and owner (?) gave us tour of up...,cute interior and owner gave us tour of upcom...,cute interior owner gave us tour upcoming pati...,cute interior owner gave tour upcoming patioro...
4,I am a long term frequent customer of this est...,65,341,4.261538,21,i am a long term frequent customer of this est...,i am a long term frequent customer of this est...,long term frequent customer establishment went...,long term frequent customer establishment went...

In [18]:
#Import textblob
from textblob import Word
import nltk
nltk.download('omw-1.4')
nltk.download('wordnet')
# Lemmatize final review format
df['cleaned_review'] = df['review_nopunc_nostop_nocommon']\
.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

[nltk_data] Downloading package omw-1.4 to /Users/bjxl/nltk_data...
[nltk_data] Downloading package wordnet to /Users/bjxl/nltk_data...

In [19]:
print("Base Review\n",df["review"][0])
print("\n------------------\n")
print("Clean and Lemmatized Review\n",df["cleaned_review"][0])

Base Review
 If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to like it! I have been to it's other locations in NJ and never had a bad experience.

The food is good, but it takes a very long time to come out. The waitstaff is very young, but usually pleasant. We have just had too many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker.

------------------

Clean and Lemmatized Review
 decide eat aware going 2 hour beginning end tried multiple time want like location nj never bad experience food good take long time come waitstaff young usually pleasant many experience spent way long waiting usually opt another diner restaurant weekend order done quicker

In [20]:
# Calculate polarity
from textblob import TextBlob
df['polarity'] = df['cleaned_review'].apply(lambda x: TextBlob(x).sentiment[0])
df['polarity']

0          0.198485
1          0.139935
2          0.315152
3          0.416234
4          0.211111
             ...
4724466    0.461139
4724467    0.558333
4724468    0.191818
4724469    0.294137
4724470    0.161667
Name: polarity, Length: 4724471, dtype: float64

In [21]:
review['polarity']=df['polarity']

In [22]:
review
review.to_csv('/Users/bjxl/fyp/csv/review.csv')

In [23]:
score1=review.groupby("business_id")
score1.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,polarity
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,0.198485
1,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,0.139935
2,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,0.315152
3,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,0.416234
4,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31,0.211111
...,...,...,...,...,...,...,...,...,...,...
4723029,_LpqbIdDZLYDC7NvsqQE7Q,OeMDHEXQcsq0ZGhk9Ta7qg,Xo4SnRWyz1ptopOYSZN3Zw,4.0,1,0,1,"Had dinner plans that were postponed, so pop i...",2019-10-16 22:13:07,0.164167
4723420,Yt1N0x0uEUFn4T8ZSrpUDA,5nd9UFG5AY_PEsUYZoCKJg,xCZSv8GlPmQHx5X_k8qxdw,3.0,0,1,0,Fine little neighborhood bar a couple blocks f...,2016-02-19 19:33:58,0.238021
4723545,pGxWgZPMspi3nVU09iMmTg,DyBGf7nDkpO8XipVHr9-0A,M_QKzr9l2flZELWXt2M0tw,5.0,4,2,1,For a karaoke box - this place was great. Our ...,2017-11-03 20:58:30,0.363333
4723748,jH5Z2Z38c32uUogmPLxLVg,AKXL58tPS_jNdT5DH5NhhA,BEuGzy5gxtGyOEk8iwDfTg,5.0,1,1,0,Need to check out this place if you are in the...,2020-11-23 23:10:04,0.231667
4724052,XmeXeK-EG5Ghw8TeEIl5Rw,4ubBKMNRphEtRWX4sZ4b1w,VhupSRgSHupX87HcRNAcHg,5.0,1,0,1,My dad and I just tried this place for the fir...,2018-08-13 15:12:28,0.362771

In [24]:
score=review.groupby("business_id")["polarity"].mean()
score

business_id
---kPU91CF4Lq2-WlRu9Lw    0.324425
--0iUa4sNDFiZFrAdIWhZQ    0.167089
--7PUidqRWpRSpXebiyxTg   -0.030143
--8IbOsAAxjKRoYsBFL-PA    0.139828
--ZVrH2X2QXBFdCilbirsw    0.287179
                            ...
zzjFdJwXuxBOGe9JeY_EMw    0.199129
zznJox6-nmXlGYNWgTDwQQ   -0.060267
zznZqH9CiAznbkV6fXyHWA    0.392564
zzu6_r3DxBJuXcjnOYVdTw    0.310225
zzyx5x0Z7xXWWvWnZFuxlQ    0.085484
Name: polarity, Length: 52268, dtype: float64

In [26]:
# score=pd.DataFrame(score)
# score
sentiment_score=[]
for i in range(0,len(data)):
    for j in range(0,len(score)):
        if(data["business_id"][i]==score.index[j]):
            sentiment_score.append(score.values[j])
sentiment_score            
data["sentiment_score"]=sentiment_score

In [35]:
data.drop(columns = ["Unnamed: 0"],inplace = True)
data

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,sentiment_score
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",0.279627
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",-0.091565
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': ""u'full_bar'"", '...","Pubs, Restaurants, Italian, Bars, American (Tr...",NaN,0.190637
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",0.046442
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,NaN,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ""'none'"", 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",0.189109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Restaurants, Sandwiches, Convenience Stores, C...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",0.191557
52264,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,1,"{'WiFi': ""'free'"", 'RestaurantsGoodForGroups':...","Cafes, Juice Bars & Smoothies, Coffee & Tea, R...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '...",0.236078
52265,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...","Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",0.338036
52266,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,1,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","Restaurants, Comfort Food, Food, Food Trucks, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",0.355836
52267,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,0,"{'Ambience': ""{'touristy': False, 'hipster': F...","Middle Eastern, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",0.270178

In [36]:
data.to_csv('/Users/bjxl/fyp/csv/restaurant.csv')
data

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,sentiment_score
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",0.279627
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",-0.091565
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': ""u'full_bar'"", '...","Pubs, Restaurants, Italian, Bars, American (Tr...",NaN,0.190637
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",0.046442
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,NaN,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ""'none'"", 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",0.189109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Restaurants, Sandwiches, Convenience Stores, C...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",0.191557
52264,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,1,"{'WiFi': ""'free'"", 'RestaurantsGoodForGroups':...","Cafes, Juice Bars & Smoothies, Coffee & Tea, R...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '...",0.236078
52265,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...","Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",0.338036
52266,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,1,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","Restaurants, Comfort Food, Food, Food Trucks, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",0.355836
52267,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,0,"{'Ambience': ""{'touristy': False, 'hipster': F...","Middle Eastern, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",0.270178

In [ ]:
review_id=[]
for i in data["business_id"]:
    review_id.append(review.loc[review["business_id"]==i,"review_id"].values)
data["review_id"]=review_id

In [ ]:
data["review_id"][0]

In [16]:
data=pd.read_csv('/Users/bjxl/fyp/csv/restaurant.csv')

In [17]:
data["sentiment_score"].min()

-0.3767525252525252

In [39]:
user_review=review.groupby("user_id")["polarity"].mean()
user_review

user_id
---2PmXbF47D870stH1jqA    0.370611
---UgP94gokyCDuB5zUssA    0.267445
---r61b7EpVPkb4UVme5tA    0.273611
---zemaUC8WeJeWKqS6p9Q    0.035480
--0DrQkM0FT-yCQRWw82uQ    0.000000
                            ...
zzz-M4QvkEpUWWPL9RTzLA   -0.037194
zzzCg-_lpyYE82TlJCdwdw    0.668750
zzzGgfvrSJ4AQeKtcgocIw    0.267014
zzzMBVS73g3ZJ7qL8JyhiA   -0.050833
zzzUFM4HFe0SFG0bPjntQA    0.213542
Name: polarity, Length: 1445990, dtype: float64

In [40]:
freq= pd.Series(" ".join(df['review_nopunc_nostop_nocommon']).split()).value_counts()[:30]
freq

food          3415486
good          2717466
place         2379603
great         2193779
service       1672699
like          1491641
time          1372610
back          1336000
really        1137835
ordered       1080333
order          991066
restaurant     971238
delicious      944125
chicken        941333
got            938541
best           893499
menu           833794
well           828710
nice           828066
came           769362
dont           767758
try            754208
im             726015
love           718961
definitely     694328
little         691840
staff          688904
friendly       670921
amazing        655347
didnt          647358
dtype: int64

In [41]:
data.head(10)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,sentiment_score
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",0.279627
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",-0.091565
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': ""u'full_bar'"", '...","Pubs, Restaurants, Italian, Bars, American (Tr...",NaN,0.190637
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",0.046442
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,NaN,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ""'none'"", 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",0.189109
5,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,28,1,"{'RestaurantsReservations': 'False', 'Restaura...","American (Traditional), Restaurants, Diners, B...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",0.051565
6,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,0,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","Food, Delis, Italian, Bakeries, Restaurants","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",0.285675
7,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"{'RestaurantsReservations': 'True', 'Restauran...","Sushi Bars, Restaurants, Japanese","{'Tuesday': '13:30-22:0', 'Wednesday': '13:30-...",0.346519
8,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"{'NoiseLevel': ""u'quiet'"", 'GoodForMeal': ""{'d...","Korean, Restaurants","{'Monday': '11:30-20:30', 'Tuesday': '11:30-20...",0.297250
9,WKMJwqnfZKsAae75RMP6jA,Roast Coffeehouse and Wine Bar,10359 104 Street NW,Edmonton,AB,T5J 1B9,53.546045,-113.499169,4.0,40,0,"{'OutdoorSeating': 'False', 'Caters': 'True', ...","Coffee & Tea, Food, Cafes, Bars, Wine Bars, Re...","{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...",0.258855

In [42]:
index=[]
i=0
data.sort_values(["state","sentiment_score"],ascending=[True,True],ignore_index=True,inplace=True)
data
for state_unique in data["state"].unique():
    for state_name in data["state"]:
        if state_name==state_unique:
            index.append(i)
            i=i+1
        else:
            i=0
data["index"]=index
heatmap=data[["state","name","sentiment_score","index"]]
heatmap
heatmap.to_csv('/Users/bjxl/fyp/csv/heatmap.csv')

In [43]:
state=data.groupby("state")["sentiment_score"].count().sort_values(ascending=False)
state
# for state_name in state1.index:
#     print(state_name)

state
PA     12641
FL      8731
TN      4352
MO      4247
IN      4150
LA      3640
NJ      3341
AZ      2671
AB      2410
NV      1673
ID      1302
CA      1161
IL       983
DE       961
HI         1
MT         1
NC         1
CO         1
XMS        1
Name: sentiment_score, dtype: int64

In [22]:
state=pd.read_csv('/Users/bjxl/fyp/csv/heatmap.csv')
state

,Unnamed: 0,state,name,sentiment_score,index
0,0,AB,Pizza 73,-0.273535,0
1,1,AB,24 Hours Pizza and Donair,-0.269713,1
2,2,AB,KFC,-0.269491,2
3,3,AB,Tim Horton's,-0.228676,3
4,4,AB,KFC,-0.217077,4
...,...,...,...,...,...
52263,52263,TN,PAPAS Gourmet Stuffed Potatoes,0.480146,4348
52264,52264,TN,2 Pickles,0.482628,4349
52265,52265,TN,Souksavanh,0.495889,4350
52266,52266,TN,Dana's Cafe,0.546722,4351
52267,52267,XMS,Pumpernickles Catering,0.192745,0

In [3]:
rank=state.groupby("state")["state"].count()
rank

state
AB      2410
AZ      2671
CA      1161
CO         1
DE       961
FL      8731
HI         1
ID      1302
IL       983
IN      4150
LA      3640
MO      4247
MT         1
NC         1
NJ      3341
NV      1673
PA     12641
TN      4352
XMS        1
Name: state, dtype: int64

In [23]:
count=[]
line=[]
score=[-0.4,-0.35,-0.3,-0.25,-0.2,-0.15,-0.1,-0.05,0,0.05,0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.55,0.6,0.65,0.7]
for j in score:
    line=[]
    for i in rank.index:
        line.append(state[(state["state"]==i) & ((state["sentiment_score"]<j)&(state["sentiment_score"]>(j-0.05)))]["state"].count())
    count.append(line)
# line
count=pd.DataFrame(count)
count

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0,0,0,0,0,0,0,0,1,0,1,2,0,0,1,1,1,0,0
1,3,0,0,0,0,6,0,0,1,2,6,1,0,0,1,0,6,3,0
2,2,4,0,0,4,6,0,1,1,6,6,7,0,0,6,0,20,12,0
3,7,7,0,0,6,30,0,3,5,23,22,21,0,0,13,1,43,23,0
4,11,17,0,0,14,64,0,6,11,45,37,42,0,0,32,9,101,46,0
5,21,37,4,0,17,136,0,11,25,85,71,97,0,0,62,29,204,101,0
6,65,80,16,0,30,252,0,32,52,155,89,140,0,1,84,42,269,162,0
7,79,102,18,0,46,262,0,44,57,230,109,179,0,0,147,62,423,182,0
8,151,164,53,0,65,445,0,87,79,250,161,270,0,0,192,95,736,269,0
9,263,243,69,0,91,681,0,87,83,368,266,380,0,0,328,135,1206,357,0
10,348,337,109,0,132,997,0,158,129,500,408,535,0,0,463,242,1703,514,1
11,512,517,187,1,169,1390,1,232,144,747,567,830,0,0,638,260,2462,702,0
12,528,586,314,0,189,1975,0,256,174,953,877,800,0,0,695,388,2762,883,0
13,290,414,261,0,134,1587,0,235,141,611,690,673,0,0,455,287,1903,734,0
14,110,123,103,0,49,705,0,126,64,151,269,216,1,0,175,109,616,295,0
15,18,30,19,0,13,150,0,18,12,21,50,40,0,0,34,11,142,56,0
16,2,9,7,0,1,33,0,5,2,2,9,9,0,0,13,1,32,12,0
17,0,1,1,0,1,11,0,1,2,1,1,4,0,0,1,1,7,1,0
18,0,0,0,0,0,1,0,0,0,0,1,1,0,0,1,0,2,0,0
19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [26]:
line1=[]
line1=pd.DataFrame(line1)
j=0
for i in rank.index:
    line1[i]=count[j]
    j=j+1
line1["score"]=[-0.35,-0.3,-0.25,-0.2,-0.15,-0.1,-0.05,0,0.05,0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.55,0.6]

In [27]:
line1

,AB,AZ,CA,CO,DE,FL,HI,ID,IL,IN,LA,MO,MT,NC,NJ,NV,PA,TN,XMS,score
0,0,0,0,0,0,0,0,0,1,0,1,2,0,0,1,1,1,0,0,-0.35
1,3,0,0,0,0,6,0,0,1,2,6,1,0,0,1,0,6,3,0,-0.30
2,2,4,0,0,4,6,0,1,1,6,6,7,0,0,6,0,20,12,0,-0.25
3,7,7,0,0,6,30,0,3,5,23,22,21,0,0,13,1,43,23,0,-0.20
4,11,17,0,0,14,64,0,6,11,45,37,42,0,0,32,9,101,46,0,-0.15
5,21,37,4,0,17,136,0,11,25,85,71,97,0,0,62,29,204,101,0,-0.10
6,65,80,16,0,30,252,0,32,52,155,89,140,0,1,84,42,269,162,0,-0.05
7,79,102,18,0,46,262,0,44,57,230,109,179,0,0,147,62,423,182,0,0.00
8,151,164,53,0,65,445,0,87,79,250,161,270,0,0,192,95,736,269,0,0.05
9,263,243,69,0,91,681,0,87,83,368,266,380,0,0,328,135,1206,357,0,0.10
10,348,337,109,0,132,997,0,158,129,500,408,535,0,0,463,242,1703,514,1,0.15
11,512,517,187,1,169,1390,1,232,144,747,567,830,0,0,638,260,2462,702,0,0.20
12,528,586,314,0,189,1975,0,256,174,953,877,800,0,0,695,388,2762,883,0,0.25
13,290,414,261,0,134,1587,0,235,141,611,690,673,0,0,455,287,1903,734,0,0.30
14,110,123,103,0,49,705,0,126,64,151,269,216,1,0,175,109,616,295,0,0.35
15,18,30,19,0,13,150,0,18,12,21,50,40,0,0,34,11,142,56,0,0.40
16,2,9,7,0,1,33,0,5,2,2,9,9,0,0,13,1,32,12,0,0.45
17,0,1,1,0,1,11,0,1,2,1,1,4,0,0,1,1,7,1,0,0.50
18,0,0,0,0,0,1,0,0,0,0,1,1,0,0,1,0,2,0,0,0.55
19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0.60

In [28]:
line1.to_csv("/Users/bjxl/fyp/csv/line.csv")