In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import json

/Users/bjxl/opt/anaconda3/envs/yelp-dataset/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
business_id= []
mydata=[]
path = '/Users/bjxl/yelp_dataset/yelp_academic_dataset_business.json'

with open(path, encoding='utf-8') as fin:
    i = 0
    for line in fin:
        line_contents = json.loads(line)
        categories = line_contents['categories']
        try:
            if 'Restaurants' in categories:
                business_id.append(business_id)
                mydata.append(line_contents)
        except TypeError:
            #print(line_contents)
            pass
mydata=pd.DataFrame(mydata)
mydata.to_csv('/Users/bjxl/fyp/csv/restaurant_review.csv')

In [3]:
data=pd.read_csv("/Users/bjxl/yelp_dataset/restaurant_review.csv")
data_short=data.head(1000)
data_short["longitude"]

0      -75.155564
1      -87.058943
2      -90.321087
3      -86.768170
4      -82.456320
          ...
995   -119.782508
996    -75.388411
997    -82.771565
998    -75.662061
999   -116.258539
Name: longitude, Length: 1000, dtype: float64

In [4]:
review=[]
review1=[]
path = '/Users/bjxl/yelp_dataset/yelp_academic_dataset_review.json'

with open(path, encoding='utf-8') as fin:
    for line in fin:
        line_contents = json.loads(line)
        restaurant_id = line_contents['business_id']
        for i in data_short["business_id"]:
            if i==restaurant_id:
                review.append(line_contents)

In [5]:
review=pd.DataFrame(review)
review.to_csv('/Users/bjxl/fyp/csv/review_1000.csv')

In [6]:
review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31
2,XW_LfMv0fV21l9c6xQd_lw,9OAtfnWag-ajVxRbUTGIyg,lj-E32x9_FA7GmUrBGBEWg,4.0,0,0,0,Love going here for happy hour or dinner! Gre...,2014-06-27 22:44:01
3,40thYphUgIfvJq17QCfTwA,QzCEzH3R7Z6erOGLr3t55Q,0pMj5xUAecW9o1P35B0AMw,5.0,1,0,1,Great staff always helps and always nice. Alwa...,2017-05-26 13:10:24
4,L0jv8c2FbpWSlfNC6bbUEA,bFPdtzu11Oi0f92EAcjqmg,IDtLPgUrqorrpqSLdfMhZQ,5.0,0,0,0,What a great addition to the Funk Zone! Grab ...,2016-10-13 22:50:47
...,...,...,...,...,...,...,...,...,...
95910,XX9zMxQkj1nMLSfw29_koQ,TjyNcVldWYpuMWXp730scQ,aq26RY75PlTNsviW6wUC9A,4.0,8,5,8,This is a go-to when in AZ and its a Sunday......,2021-12-20 09:30:35
95911,gfGXPkDcIv-Zqv69VCSYsg,vjLQ8F8opdDXGyXISRnuYQ,gl9APAes1BYYt_8UsDVsPg,5.0,1,0,1,If you enjoy no frills old school diners as mu...,2022-01-18 16:44:12
95912,rT1xsfmuaQWCcgKcA-NJXw,DgmvcnJT9G2O0FdxtpEO-w,TJe1ZGe-X0-GjOQd00kKxA,3.0,3,0,0,"I heard about this place from a coworker, who ...",2019-09-15 16:36:26
95913,jU6Onf-5uEDO1yRKWZ_KJw,pw37auqonHZ0xZMsLEBppw,hn3Rg2JrhQoDJBEhrpuwWg,3.0,1,0,0,Typical brewery with typical brewery food. Fel...,2016-03-12 01:06:22
95914,gLN6XZn3mVjSJmfkUAt_HA,oFT-ma2qMXreI9jQLBflsQ,ymoEdJB5NE56sWw74uyX7A,5.0,1,0,1,Probably my fave sushi place close to me. Amaz...,2022-01-18 23:56:04

In [7]:
df = pd.DataFrame(np.array(review["text"]), columns=['review'])
df

                                                  review
0      If you decide to eat here, just be aware it is...
1      I am a long term frequent customer of this est...
2      Love going here for happy hour or dinner!  Gre...
3      Great staff always helps and always nice. Alwa...
4      What a great addition to the Funk Zone!  Grab ...
...                                                  ...
95910  This is a go-to when in AZ and its a Sunday......
95911  If you enjoy no frills old school diners as mu...
95912  I heard about this place from a coworker, who ...
95913  Typical brewery with typical brewery food. Fel...
95914  Probably my fave sushi place close to me. Amaz...

[95915 rows x 1 columns]

In [8]:
# Calculate word count
df['word_count'] = df['review'].apply(lambda x: len(str(x).split(" ")))

# Calculate character count
df['char_count'] = df['review'].str.len()

def avg_word(review):
    words = review.split()
    return (sum(len(word) for word in words) / len(words))

# Calculate average words
df['avg_word'] = df['review'].apply(lambda x: avg_word(x))

# Import stopwords
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

stop_words = stopwords.words('english')
df['stopword_coun'] = df['review'].apply(lambda x: len([x for x in x.split() if x in stop_words]))

[nltk_data] Downloading package stopwords to /Users/bjxl/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [9]:
df

,review,word_count,char_count,avg_word,stopword_coun
0,"If you decide to eat here, just be aware it is...",101,513,4.069307,46
1,I am a long term frequent customer of this est...,65,341,4.261538,21
2,Love going here for happy hour or dinner! Gre...,47,242,4.666667,15
3,Great staff always helps and always nice. Alwa...,28,169,5.071429,5
4,What a great addition to the Funk Zone! Grab ...,42,222,4.525000,14
...,...,...,...,...,...
95910,This is a go-to when in AZ and its a Sunday......,256,1413,4.543307,124
95911,If you enjoy no frills old school diners as mu...,63,396,4.924242,16
95912,"I heard about this place from a coworker, who ...",196,1013,4.488889,75
95913,Typical brewery with typical brewery food. Fel...,31,171,4.483871,11
95914,Probably my fave sushi place close to me. Amaz...,27,160,4.962963,5

In [10]:
df.describe()

         word_count    char_count      avg_word  stopword_coun
count  95915.000000  95915.000000  95915.000000   95915.000000
mean     101.397800    546.195360      4.497794      40.374008
std       93.689477    502.676477      0.703690      39.514895
min        1.000000      1.000000      1.000000       0.000000
25%       40.000000    218.000000      4.234520      15.000000
50%       72.000000    388.000000      4.439024      28.000000
75%      130.000000    696.000000      4.685714      52.000000
max      988.000000   5000.000000    129.000000     451.000000

In [11]:
df.head()

,review,word_count,char_count,avg_word,stopword_coun
0,"If you decide to eat here, just be aware it is...",101,513,4.069307,46
1,I am a long term frequent customer of this est...,65,341,4.261538,21
2,Love going here for happy hour or dinner! Gre...,47,242,4.666667,15
3,Great staff always helps and always nice. Alwa...,28,169,5.071429,5
4,What a great addition to the Funk Zone! Grab ...,42,222,4.525000,14

In [12]:
# Lower case all words
df['review_lower'] = df['review'].apply(lambda x: " ".join(x.lower() for x in x.split()))

# Remove Punctuation
df['review_nopunc'] = df['review_lower'].str.replace('[^\w\s]', '')

# Import stopwords
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

# Remove Stopwords
df['review_nopunc_nostop'] = df['review_nopunc'].apply(lambda x: " ".join(x for x in x.split() if x not in stop_words))

/var/folders/cv/j22vlhb52tb_nhwbf2m_cdq40000gn/T/ipykernel_14198/632770564.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['review_nopunc'] = df['review_lower'].str.replace('[^\w\s]', '')

In [13]:
# Return frequency of values
freq= pd.Series(" ".join(df['review_nopunc_nostop']).split()).value_counts()[:30]
freq

food          68283
good          55200
place         49000
great         44778
service       34276
like          30183
one           27770
time          27444
back          26940
get           25583
would         23932
really        23385
go            23128
ordered       21955
also          21188
restaurant    19958
delicious     19912
us            19620
got           19137
order         18963
chicken       18146
nice          17682
best          17428
menu          17045
well          16810
came          15625
try           15479
love          15053
ive           15034
dont          15026
dtype: int64

In [14]:
other_stopwords = ['get', 'us', 'see', 'use', 'said', 'asked', 'day', 'go' \
  'even', 'ive', 'right', 'left', 'always', 'would', 'told', \
  'get', 'us', 'would', 'get', 'one', 'ive', 'go', 'even', \
  'also', 'ever', 'x', 'take', 'let' ]

In [15]:
df['review_nopunc_nostop_nocommon'] = df['review_nopunc_nostop'].apply(lambda x: "".join(" ".join(x for x in x.split() if x not in other_stopwords)))

In [16]:
df.head()

,review,word_count,char_count,avg_word,stopword_coun,review_lower,review_nopunc,review_nopunc_nostop,review_nopunc_nostop_nocommon
0,"If you decide to eat here, just be aware it is...",101,513,4.069307,46,"if you decide to eat here, just be aware it is...",if you decide to eat here just be aware it is ...,decide eat aware going take 2 hours beginning ...,decide eat aware going 2 hours beginning end t...
1,I am a long term frequent customer of this est...,65,341,4.261538,21,i am a long term frequent customer of this est...,i am a long term frequent customer of this est...,long term frequent customer establishment went...,long term frequent customer establishment went...
2,Love going here for happy hour or dinner! Gre...,47,242,4.666667,15,love going here for happy hour or dinner! grea...,love going here for happy hour or dinner great...,love going happy hour dinner great patio fans ...,love going happy hour dinner great patio fans ...
3,Great staff always helps and always nice. Alwa...,28,169,5.071429,5,great staff always helps and always nice. alwa...,great staff always helps and always nice alway...,great staff always helps always nice always cl...,great staff helps nice clean huge store size s...
4,What a great addition to the Funk Zone! Grab ...,42,222,4.525000,14,what a great addition to the funk zone! grab a...,what a great addition to the funk zone grab a ...,great addition funk zone grab bite grab tastin...,great addition funk zone grab bite grab tastin...

In [23]:
#Import textblob
from textblob import Word
import nltk
nltk.download('omw-1.4')
nltk.download('wordnet')
# Lemmatize final review format
df['cleaned_review'] = df['review_nopunc_nostop_nocommon']\
.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

[nltk_data] Downloading package omw-1.4 to /Users/bjxl/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/bjxl/nltk_data...

In [24]:
print("Base Review\n",df["review"][0])
print("\n------------------\n")
print("Clean and Lemmatized Review\n",df["cleaned_review"][0])

Base Review
 If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to like it! I have been to it's other locations in NJ and never had a bad experience.

The food is good, but it takes a very long time to come out. The waitstaff is very young, but usually pleasant. We have just had too many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker.

------------------

Clean and Lemmatized Review
 decide eat aware going 2 hour beginning end tried multiple time want like location nj never bad experience food good take long time come waitstaff young usually pleasant many experience spent way long waiting usually opt another diner restaurant weekend order done quicker

In [25]:
# Calculate polarity
from textblob import TextBlob
df['polarity'] = df['cleaned_review'].apply(lambda x: TextBlob(x).sentiment[0])
df['polarity']

0        0.198485
1        0.211111
2        0.380000
3        0.541667
4        0.380000
           ...
95910    0.207672
95911    0.255667
95912    0.305667
95913   -0.203472
95914    0.520000
Name: polarity, Length: 95915, dtype: float64

In [26]:
review['polarity']=df['polarity']

In [27]:
review
review.to_csv('/Users/bjxl/fyp/csv/review_1000.csv')

In [28]:
score1=review.groupby("business_id")
score1.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,polarity
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,0.198485
1,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31,0.211111
2,XW_LfMv0fV21l9c6xQd_lw,9OAtfnWag-ajVxRbUTGIyg,lj-E32x9_FA7GmUrBGBEWg,4.0,0,0,0,Love going here for happy hour or dinner! Gre...,2014-06-27 22:44:01,0.380000
3,40thYphUgIfvJq17QCfTwA,QzCEzH3R7Z6erOGLr3t55Q,0pMj5xUAecW9o1P35B0AMw,5.0,1,0,1,Great staff always helps and always nice. Alwa...,2017-05-26 13:10:24,0.541667
4,L0jv8c2FbpWSlfNC6bbUEA,bFPdtzu11Oi0f92EAcjqmg,IDtLPgUrqorrpqSLdfMhZQ,5.0,0,0,0,What a great addition to the Funk Zone! Grab ...,2016-10-13 22:50:47,0.380000
...,...,...,...,...,...,...,...,...,...,...
93185,DgAifZSGcwMP_dAnkhrljw,SokgF7HoIlSq7hC_jo_fCg,yX-eHIG--H3geTNWZ2Q6SA,5.0,1,0,1,Delicious and fresh! I'm from Tucson (I've had...,2015-11-01 20:56:52,0.600000
93223,ZzXk4BSi8jXRCsUI8jhUkA,1AKiXyyhDCriawCtXrXakQ,MtZrHienTC6EnKDEGu6AzA,2.0,0,0,0,Korean Fried Chicken Burger $21.95\nMedium Rar...,2021-12-18 16:43:45,-0.121661
93662,Fpw23MWt1sh4nhf8BcfoIw,s8UZQJxCHARalKBBLiaWog,knQ4vIgx-r85kjlWVVjcpQ,5.0,0,0,0,"We lost our only daughter, Brooke in 2013 to a...",2016-07-11 18:32:10,0.075000
94654,bZeIEwgEgzGsoI9dST3Iog,kwsb-ACjIOr9k46YINBVjg,z9wCTHYI2VZy9YIblwSsgg,4.0,0,0,0,The Silo burger was pretty good. I'm not a big...,2019-06-06 16:11:07,0.327778
95879,0KETyQjul_r3oPIB0l4vPQ,B5UUJ57SYMm4js6KtRkliQ,agTcS5LYZJe4gNiXK6nNkw,4.0,1,0,0,"Super convenient, very nice service, delicious...",2022-01-02 18:29:03,0.336255

In [29]:
score=review.groupby("business_id")["polarity"].mean()
score

business_id
-2Axhv9AZ_n7qjQefECpVw    0.271383
-3-6BB10tIWNKGEF0Es2BA    0.268077
-7GDqSUaXrpC8Ql7nDBxWA    0.338450
-97632CUoOkJ8x4AlkPJxQ   -0.098474
-H6s1c2NRic5UKxXqi4FdQ    0.174900
                            ...
zjQDk4tZyhEroyqtkgvx0g    0.272652
zoAZydP_v380Yydf-2u3hw    0.508122
zwfN21b6gN2XGjNG6MYNzQ   -0.021193
zxpJ4Frr8Zoru-YaNzOxzw    0.205466
zzHtFjfM7NvuVM1HTsCLGA    0.331717
Name: polarity, Length: 1000, dtype: float64

In [30]:
# score=pd.DataFrame(score)
# score
sentiment_score=[]
for i in range(0,len(data_short)):
    for j in range(0,len(score)):
        if(data_short["business_id"][i]==score.index[j]):
            sentiment_score.append(score.values[j])
sentiment_score            
data_short["sentiment_score"]=sentiment_score

/var/folders/cv/j22vlhb52tb_nhwbf2m_cdq40000gn/T/ipykernel_14198/2426224994.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_short["sentiment_score"]=sentiment_score

In [31]:
data_short
data_short.to_csv('/Users/bjxl/fyp/csv/restaurant_1000.csv')
data_short

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,sentiment_score
0,0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",0.279627
1,1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",-0.091565
2,2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': ""u'full_bar'"", '...","Pubs, Restaurants, Italian, Bars, American (Tr...",NaN,0.190637
3,3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",0.046442
4,4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,NaN,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ""'none'"", 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",0.189109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,m1EGAIfFEN9nG2_bJqnAcQ,Sushi Minato,5085 S McCarran Blvd,Reno,NV,89502,39.477006,-119.782508,4.0,231,0,"{'WiFi': ""u'free'"", 'BusinessParking': ""{'gara...","Sushi Bars, Japanese, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",0.327693
996,996,5XXFFeHDa-lb-OcXGDKXpg,Bartaco,"160 N Gulph Rd, Ste C1100",King of Prussia,PA,19406,40.088365,-75.388411,4.5,313,1,"{'RestaurantsGoodForGroups': 'True', 'HappyHou...","Restaurants, Tacos, Mexican","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",0.328169
997,997,4ib9kGHlwqWPalWjh-dZhQ,Yama-Taiyo Japanese Cuisine & Sushi Bar,660 Alderman Rd,Palm Harbor,FL,34683,28.093190,-82.771565,4.0,49,1,"{'RestaurantsPriceRange2': '2', 'Caters': 'Fal...","Restaurants, Japanese","{'Monday': '11:30-21:30', 'Tuesday': '11:30-21...",0.302011
998,998,5R6YO6K9PkthkTbXqV9slQ,Sakura Japanese Restaurant,4713 Kirkwood Hwy,Wilmington,DE,19808,39.722931,-75.662061,4.0,86,1,"{'GoodForMeal': ""{'dessert': False, 'latenight...","Japanese, Restaurants, Sushi Bars, Noodles","{'Monday': '11:0-15:0', 'Tuesday': '11:0-15:0'...",0.293618
999,999,-TRXiliBZ2O2_BKyKQ32HA,Gyro Shack,5602 W State St,Boise,ID,83703,43.656203,-116.258539,4.0,67,1,"{'RestaurantsGoodForGroups': 'False', 'Caters'...","Sandwiches, Restaurants, Fast Food, Greek, Med...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-21:0', ...",0.271802

In [32]:
review_id=[]
for i in data_short["business_id"]:
    review_id.append(review.loc[review["business_id"]==i,"review_id"].values)
data_short["review_id"]=review_id

/var/folders/cv/j22vlhb52tb_nhwbf2m_cdq40000gn/T/ipykernel_14198/538070606.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_short["review_id"]=review_id

In [33]:
data_short["review_id"][0]

array(['BXQcBN0iAi1lAUxibGLFzA', 'uduvUCvi9w3T2bSGivCfXg',
       'a0vwPOqDXXZuJkbBW2356g', 'MKNp_CdR2k2202-c8GN5Dw',
       'D1GisLDPe84Rrk_R4X2brQ', '_hJu0u6nB-8LIeQJY4Vg4w',
       'DbARmo95_axUdC9FU8o_Jw', '_xRGsS6QGpcD9LQJNtavuw',
       'TLeFbl_5Cb1wcuaeQKX1ew', 'PXMn65bN0byT09LtOXUPuQ',
       'YY_qfBTB6j6EFhYHWdS7DQ', 'NwCNci2_9yZecO9bbJG61Q',
       'PY7qyCz43zwDSKaSgaJFTg', 'QvvvwumFGJcwc3-kNQk80Q',
       '0__mRlq8zHkil4c99Jn_4A', 'x1V3va6mEo5nHeA8nGRCDg',
       'MnYtdGlo861h5auUxV2cwg', '3LNKer0gTFgknV-2CyPjAg',
       'ZtD-lwQ12njTwBDwvv2v2Q', 'ig1uz_vY0ZNtqUHFU9_8Sg',
       'UrLiacjSwp53jn8tFtcEsA', 'rFXOzAix3KgpB689TxpQsA',
       'zmT_LVhH17dEr9zXP0_YTA', 'L3j8agVEAwrTI9A5hd0MiQ',
       'ibUkH1a01VZgBD9ba6wocw', 'YZj9sS4V0ZJ8CZ1PvIYsow',
       'wvnwbqlnknJxYqRdx8NyfA', 'KrqIxVaurxWTIeHzNt8P-A',
       'RBHIsyZFmhNgwv3MMU5kDA', 'SdTToFir1AuicPiszpl-0w',
       'kwHShYMSMSIX6paT6GZihw', 'l_2h0QHc8S_NqxIar7lVMQ',
       'OsKQIxUaRp7RrXqa9CcDDQ', '2kSbcsirhVQ7xWSCPVn8vA',
       'fI_dVXwDk_MtmCufRabMgg', 'L3Qk84zgSO4U3IsZoz3G4w',
       'QAy1XATH29BEtCBhuW2CeA', 'w_RPsuzN4eYqysjUJsxF2w',
       'tdCBLqgCg4yXrNyU8ho3nQ', 'IYPyO3ltLyfvGTxZyL3lyQ',
       'FpQ0osfFoRn6SlIpuQLllA', 'NHtn2zLeWChm6cG-NQ5uww',
       'b3ab4doiPEfnrI2U-r-1qQ', 'k_9lzCaFMiv4xlIDZIRysQ',
       '55GjrIP3Mp5hibouwETO5g', 'wLQeIvOg5AGABPlzKU0G1g',
       'Xa6IIpOl_ED-7rUBaaWVvg', 'n_7RKjO-Axm64atsVhNQnQ',
       'UcuyRyxvT_NCskZCx0R4qA', 'cVdcoQxfdXwwOBRu28rl3g',
       'qqa28GufEzRBiVMbAcGEfQ', 'e8AMew4596mpqpRtQn2MyQ',
       'LP6jCOIG7UP6PPi_qqJclg', 'kwWRpqnsOWfj_HLrubKblw',
       'GVReujo6gtaS2O3CpYIw6g', 'coVz18GyxT9PJSkl-H8KLQ',
       '6fMFIlN73Kl795JvXYb2Nw', '0QapXyWeltY97CzjcMLD_Q',
       'YCDgv8hhXIwj6pig4WKiVg', '8irtpJyVRoTFUZ8ZEn34Ew',
       'quG4LkGyTZCfN2ZbnqVLVQ', 'mhuACzNGUqI3cz0gPFalVw',
       'gz5OdqFotqd8u0Xmgq7idA', 'SDzyWSiRbCVrfhh7or3Ivg',
       'gQSJzOAR-eFCntXyFiRk6Q', 'ug-fpPF1g2y-J_0CDhX1mA',
       'czz9StGFAe5Fnx1BYCli-g', 'tJjZgsRD7ybSS77VobrJwQ',
       'x2ldjXFGq1uW7s0Ktdl2Yg', 'FE2_pgNoBv7ay5GdxJgKbg',
       'BJf_2C9yvhl2uzEPCDjxBw', 'khVt8RKpraoAwJg_fMjhIw',
       'a-IEEBjZbrxnXF2Ubr06eQ', 'M0tgzhmHJ61_p7wIjCY5Eg',
       'LDjPQHNw6KKSaVRCzWumcg', 'LMqYFdpTUJk_xNqGw908dA',
       'YO-n7OdVmhH6okv0zBWqoQ', '99KJBttjlN2iXqcAOLoyVw',
       'hr4C7vsahxkieDJ9tqtm0A', 'Wos2ocOEOKQ9zpMTNGVLXA',
       'Sc0dND6uIfmzM7Lf9XdzLQ', 'yhdbkT0pmOyI63T9fRWbDg',
       'sC_1X9TR9kMdEXguBGO-Xg', 'lKZjGr7cGlzRzehE8Pi5wg',
       'cgrCgMezbCD7lporCxL9_A', 'I8k0__Bp6EYuu73hxZ0kYg',
       'lpohaRlrXJG3pGL9qrynSw'], dtype=object)

In [34]:
data=pd.read_csv('/Users/bjxl/fyp/csv/restaurant_1000.csv')

In [36]:
data["sentiment_score"].max()

0.5551298701298701

In [37]:
user_review=review.groupby("user_id")["polarity"].mean()
user_review

user_id
--6PFZka7og6Khaw6oyjvQ    0.160000
--FtJYX8N228l3HPB7hkKQ    0.389583
--Kwhcbkh7jxkhVVQZo2uQ    0.176786
--WLSCJPoCNQmTmG2yPAcQ    0.113615
--ZNfWKj1VyVElRx6-g1fg    0.350000
                            ...
zzT0pSbiaNAPL171kwnvjA    0.180816
zzgLgszu48af4NJULymzAA    0.387216
zzgMuJgxmToqcJ5iu1TngQ    0.106122
zziJLt25YU6dp01sewR-IQ    0.420000
zzz-M4QvkEpUWWPL9RTzLA    0.025668
Name: polarity, Length: 78902, dtype: float64

In [38]:
freq= pd.Series(" ".join(df['review_nopunc_nostop_nocommon']).split()).value_counts()[:30]
freq

food          68283
good          55200
place         49000
great         44778
service       34276
like          30183
time          27444
back          26940
really        23385
ordered       21955
restaurant    19958
delicious     19912
got           19137
order         18963
chicken       18146
nice          17682
best          17428
menu          17045
well          16810
came          15625
try           15479
love          15053
dont          15026
im            14627
staff         14491
definitely    14363
little        14220
friendly      14129
amazing       13709
didnt         13108
dtype: int64

In [39]:
user=[]
path = '/Users/bjxl/yelp_dataset/yelp_academic_dataset_user.json'

with open(path, encoding='utf-8') as fin:
    i = 0
    for line in fin:
        line_contents = json.loads(line)
        user.append(line_contents)

user=pd.DataFrame(user)
user.to_csv('/Users/bjxl/fyp/csv/user.csv')

In [40]:
user

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,23,2015-01-06 00:31:31,7,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,1,2016-06-14 07:20:52,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,4,2017-02-04 15:31:58,1,1,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2,2011-01-14 00:29:08,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2,2020-12-19 02:32:39,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
data_short.head(10)

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,sentiment_score,review_id
0,0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",0.279627,"[BXQcBN0iAi1lAUxibGLFzA, uduvUCvi9w3T2bSGivCfX..."
1,1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",-0.091565,"[419RpsM5N8Mr-QkpuPxi5Q, 2mD-VlkQqErngk7xwjht1..."
2,2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': ""u'full_bar'"", '...","Pubs, Restaurants, Italian, Bars, American (Tr...",NaN,0.190637,"[9fmAJ76g2-CKbbU14Ai1aw, OCmjANuYad62GAyY0NI8b..."
3,3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",0.046442,"[XSiL0bd1I9fCJ_uoPcEtgw, JoL9k2mEz4ncJanpzVEsl..."
4,4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,NaN,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ""'none'"", 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",0.189109,"[oUv3avPmLiTwIgYlmQQXBQ, BQ4GJP2G8_NdQ9KHboueT..."
5,5,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,28,1,"{'RestaurantsReservations': 'False', 'Restaura...","American (Traditional), Restaurants, Diners, B...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",0.051565,"[YByDh56Hl11HoYdBm-uArA, 3vwdkRRoUe4PewzD8HvQb..."
6,6,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,0,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","Food, Delis, Italian, Bakeries, Restaurants","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",0.285675,"[oTTuahWNWzX_018P6O6_2g, R7DC4sHDcklrk1s1K93FD..."
7,7,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"{'RestaurantsReservations': 'True', 'Restauran...","Sushi Bars, Restaurants, Japanese","{'Tuesday': '13:30-22:0', 'Wednesday': '13:30-...",0.346519,"[XYaDbPKyJAu4k2aUOIth5g, tpLolBuBTx_Ncx3RSf7WB..."
8,8,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"{'NoiseLevel': ""u'quiet'"", 'GoodForMeal': ""{'d...","Korean, Restaurants","{'Monday': '11:30-20:30', 'Tuesday': '11:30-20...",0.297250,"[kVm9hQ3JjNWHTXBTLxdT-w, Q1ByxGw8z9ZMReiyeoPoV..."
9,9,WKMJwqnfZKsAae75RMP6jA,Roast Coffeehouse and Wine Bar,10359 104 Street NW,Edmonton,AB,T5J 1B9,53.546045,-113.499169,4.0,40,0,"{'OutdoorSeating': 'False', 'Caters': 'True', ...","Coffee & Tea, Food, Cafes, Bars, Wine Bars, Re...","{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...",0.258855,"[uwPhE21CZLlp1kkSMPvvYw, bAy8ROEYO_3aTBhW5LoR4..."

In [58]:
data_short.sort_values("state",inplace=True)
data_short.sort_values("sentiment_score",inplace=True)
data_short

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,sentiment_score,review_id
965,965,0xe81EigRw_b5W8tg0Ca6Q,KFC,8242 Little Rd,New Port Richey,FL,34654,28.277165,-82.673909,1.5,19,1,"{'RestaurantsTakeOut': 'True', 'BusinessAccept...","Fast Food, Chicken Wings, Restaurants, Chicken...","{'Monday': '10:30-23:0', 'Tuesday': '10:30-23:...",-0.220407,"[22ktCUgPcosvH2RYbmQUlQ, kHjrmEL2xhsEBjFSgQ2GQ..."
328,328,g7GCbnZC_HKO0ybNt7NXBw,Popeyes Louisiana Kitchen,443 Opry Mills Dr,Nashville,TN,37214,36.202427,-86.692898,1.0,6,1,"{'RestaurantsDelivery': 'None', 'RestaurantsTa...","Chicken Wings, Fast Food, Restaurants",NaN,-0.201620,"[_7RrwSvMM3zV0VK5TsL_DA, nj4FPQoww915J0yvW3jrr..."
71,71,O1oZpbZNDMH_gz8DhsZCdA,Wendy's,700 E. Hunting Park,Philadelphia,PA,19124,40.012141,-75.115015,1.5,15,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsPri...","Burgers, Restaurants, Fast Food","{'Monday': '10:0-2:0', 'Tuesday': '10:0-2:0', ...",-0.192903,"[WtP3kl8xVOcoJOYyxkGfIg, 7l__He_d8pHrEAAZZv2l0..."
72,72,vPcfJ3rm3NpdqVDod2WxLA,China Pearl,2E Summit Sq Shopping Ctr,Langhorne,PA,19047,40.217784,-74.926586,1.5,27,1,"{'OutdoorSeating': 'False', 'RestaurantsDelive...","Japanese, Chinese, Restaurants, Thai","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",-0.188379,"[2MQvmPfFddQtBU9XSUbx5w, nDJ_MobOClVGvvAly8U_8..."
947,947,y3RXPIuqr5Q0lId1K9Ai2A,Burger King,2601 Veterans Memorial Blvd,Kenner,LA,70062,30.005538,-90.232295,1.5,19,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Restaurants, Burgers, Fast Food","{'Monday': '5:30-2:0', 'Tuesday': '5:30-2:0', ...",-0.154712,"[JnkQ3J-qF6BLlGwExXe0Xw, IF1OqbGLjJo560MHPw20a..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,264,yX-eHIG--H3geTNWZ2Q6SA,Crush Gourmet Raspados,1712 N Santa Rosa Ave,Tucson,AZ,85712,32.243652,-110.885980,5.0,5,0,"{'Alcohol': ""u'none'"", 'Caters': 'True', 'Good...","Shaved Ice, Food Stands, Restaurants, Street V...","{'Monday': '9:0-9:0', 'Tuesday': '9:0-9:0', 'W...",0.498538,"[i_h1TECfOp4btMenDfALQQ, SBSffWV-CPXYHRjCOWaaH..."
948,948,zoAZydP_v380Yydf-2u3hw,The Mobile Bistro,160 S Scott Ave,Tucson,AZ,85701,32.219656,-110.970083,5.0,5,1,"{'RestaurantsPriceRange2': '1', 'BusinessParki...","Event Planning & Services, Caterers, Food, San...",NaN,0.508122,"[5UvY0uLRB7EuF03tSaJnlw, rXgXurDlTzwMV18bflcEn..."
570,570,Y_XyeCu8AkZyhcF0q5n8Dg,Pitas Republic,13145 US Hwy 301 S,Riverview,FL,33578,27.793149,-82.335405,5.0,5,1,"{'RestaurantsGoodForGroups': 'False', 'GoodFor...","Restaurants, Diners",NaN,0.510226,"[hBq5PDtVOTb8kTjC_vmlvQ, LJuRmTKK5g1mycjTlxioD..."
628,628,pMEQsY7OdNS8jlM39f58Vg,Subliminal Grilled Subs & More,141 S Main St,Waterloo,IL,62298,38.335168,-90.150428,4.5,7,0,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Restaurants, Salad, Soup, Sandwiches",NaN,0.510861,"[kgDDcjAlKmXLfFBrsvLIhA, RY5C2gcuCcaaeu7agpSJE..."
907,907,siwG4ZM7RjUDO52DI84m3w,Ray's Vegan Soul,NaN,St. Petersburg,FL,NaN,27.767601,-82.640292,5.0,5,1,{'RestaurantsTakeOut': 'True'},"Soul Food, Vegan, Event Planning & Services, R...",NaN,0.555130,"[qJG2cyWB4MDuNhOjLrqDlA, 2OUWUHNdWjY8r03N7KpQz..."

In [91]:
state=data_short.groupby("state")["sentiment_score"].count()
print(state.sort_values(ascending=False))
# for state in data_short["state"].unique():
#     print(state)

state
DE      7
IL     21
CA     22
ID     24
NV     40
AZ     46
AB     50
NJ     64
LA     67
MO     75
IN     82
TN    100
FL    158
PA    244
Name: sentiment_score, dtype: int64